# MongoDB Configuration
MONGO_URI=mongodb://user:pass@ip:port
DATABASE_NAME=Examtie
SECRET_KEY=abcdefg

# Cloudflare R2 Configuration
R2_ACCESS_KEY=abcdefg
R2_SECRET_KEY=abcdefg
R2_BUCKET_NAME=examtie
R2_ENDPOINT_URL=https://cdn.example.com
R2_ACCOUNT_ID=abcdefg
R2_REGION=auto

#Redis Setup
REDIS_URL_KRUB=redis://user:pass@ip:port
REDIS_PASSWORD=abcdefg
REDIS_DB=0

#Cache Settings, Jwt Exired Time
CACHE_EXPIRE_SECONDS=3600
ACCESS_TOKEN_EXPIRE_MINUTES_SECONDS=43200

# Azure API Configuration
AZURE_API_KEY=abcdefg
AZURE_MODEL=examtieai
AZURE_ENDPOINT=https://azure.cognitiveservices.azure.com/
AZURE_API_VERSION=2024-12-01-preview
# Typhoon API Configuration
TPYTHON_API_KEY=abcdefg

