fastapi
uvicorn[standard]
python-dotenv
pydantic[email]
motor
passlib[bcrypt]
python-jose[cryptography]
python-multipart
bcrypt
requests
boto3
pytest
pytest-asyncio
pymongo
redis
docx2pdf
pdfplumber
